@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color-main: #fff;
  --color-text: #0ea7b0;
  --border: 1px solid black;
  --background: #12141d;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconShopping {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.productCard {
  margin: 8px;
}
.formViewItems {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}
.productViewItems {
  font-size: 18px;
}
.productSelect {
  margin-left: 10px;
}
.productImage {
  height: 170px !important;
  object-fit: scale-down;
}
.productSpin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.appFooter {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blueviolet;
  margin-top: 20px;
  border-radius: 10px;
}
